@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap');


@font-face {
    font-family: bebas;
    src: url(../assets/font/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,a,li{
    font-family: bebas;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.second-color {
    color: #C69749;
}
.tercer-color{
    color: #e5e5e5;
}
.cuarto-color{
    color: #ff9d00;
    font-family: bebas;
}
.btn {
    color: #C69749;
    background-color: #36626b;
    padding: 10px;
    width: 150px;
    border-radius: 3px;
    font-family: bebas;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

header {
    background-color: #20150e;
    font-family: bebas;
    height: 70px;
    font-size: 32px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.herobg {

    background-position: center;
    background-size: cover;
    color: #000000;
    font-family: bebas;
    font-size: 40px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 10px;
}

nav a {
    color: #000000;
}

nav ul {
    color: #000000;
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 10px;
}





.hero {
    background-attachment: absolute;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    width: 90%;
    height: 75vh;
    display: flex;
    align-items: flex-start;

}
.hero-imagen {
    display: flex;
    justify-content: center;
    margin-top: 8em;
}

.hero__contenedor {
    padding: 100px 50px;
    color: #735F32;
    width: 60%;
    gap: 10px;
}


.hero__contenedor p {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-right: 150px;
    margin: 15px 0;
    color: #cfa544;

}

.hero__titulo {
    font-family: bebas;
    font-size: 80px;
    color: #ff9d00;

}




/** MENU CSS**/
.wrap {
    width: 100%;
    margin: 0 auto;
}
#margen-fila-menu{
    margin-top: 1em;
}

.column-2.carta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
    justify-content: space-evenly ;
}

.plato-carta {
    display: flex;
    align-items: center;
    border: 1px solid #16ddcd;
    border-radius: 6px;
    margin-top: 2em;
}

.img-plato-carta {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
}

.img-plato-carta img {
    max-width: 100px;
    max-height: 75px;
}

.title-plato-carta {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
}

.precio-plato-carta {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
}



/**ESTO ES EL form que no se como seguiiiir**/

.main {
    background: #4b260e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


















/** pie de pagina**/

footer {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

footer section {
    display: flex;
    flex-direction: column;
    color:#C69749;
    font-family: bebas;
    font-size: 24px;
}

.footer-link {
    text-decoration: none;
    color: #C69749;
    list-style: none;
}

footer section form input {
    background-color: #191919;
    color: #C69749;
    padding: 10px;
    outline: none;
    font-family: bebas;
}

footer section form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer section form button.btn {
    width: 100%;
    font-size: 24;
    padding: 5px;
}

/*PRUEBA DE FORM*/
* {
    box-sizing: border-box;
}

body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #C69749;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #C69749;
}

.contact-form form button {
    background:#C69749;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #944f0f;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: rgba(255, 255, 255,.3);
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}